:root {
    --fz-s: 12px;
    --fz-r: 14px;
    --fz-l: 20px;
    --fz-xl: 40px;

    --color-white: #fff;
    --color-black: #333;
    --color-grey-lighten: #EBEBEB;
    --color-grey: #CCCCCC;
    --color-grey-darken: #A6A6A6;
    --color-purple: #5558FA;
    --color-purple-darken: #3d40f7;
    --color-green: #05AE71;
    --color-red: #E84E58;

    --box-shadow: 0 4px 20px rgba(0, 0, 0, .1);

    // dark theme
    // --color-white: #333;
    // --color-black: #fff;
    // --color-grey-lighten: #6b6b6b;
    // --color-grey: #A6A6A6;
    // --color-grey-darken: rgb(157, 156, 156);
    // --color-purple: #8486f2;
    // --color-purple-darken: #6a6cf7;
    // --color-green: #05AE71;
    // --color-red: #E84E58;
    // --box-shadow: 0 4px 20px rgba(256, 256, 256, .1);
}